@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--color-cod-gray);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
